/* Montserrat */
@import url (https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap);

/* Roboto */
@import url (https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);

/* MOBILE */
header {
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./images/header_image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 36px 0px 36px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  }

.bold-text {
  color: #698474;
  font-weight: bold;
}

body {
  margin: 8px;
  }

.icon-wrapper {
  display: flex;
  flex-direction: row;
  }

.icon {
  margin: 3px;
  border: 2px solid white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  }

img {
  height: 20px;
  width: 20px;
  }

.project-image img {
  width: 100%;
  margin: 20px;
}

.header-text {
  color: white;
  align-self: flex-start;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  margin-bottom: -55px;
  }

.header-text p {
  font-family: 'Roboto', 'sans-serif';
  }

.header-text-communications {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 24px;
  color: white;
  align-self: flex-start;
  }

.small-header-text {
  color: white;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  margin-bottom: -90px;
  }

.header-portfolio {
  font-family: 'Roboto', 'regular';
  margin-right: 3px;
  }

.header-name {
  font-family: 'Roboto';
  font-weight: bold;
  }

.profile-pic {
  background-image: url(./images/johanna_rexin.jpg);
  border: 2px solid white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: -10px;
  }

.portfolio-section {
  padding: 10px 36px; 
  font-family: 'Montserrat', 'regular';
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.portfolio-section-green {
  padding: 10px 36px;
  font-family: 'Montserrat', 'regular';
  background-color: #bac7a7;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.portfolio-container {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  }

h4 {
  font-size: 24px;
  color: white;
  background-color: #698474;
  width: fit-content;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  }

h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 30px;
  color: #698474;
  font-weight: 700;
}

p :visited {
  color: white; 
  }

/*** FEATURED PROJECTS DESIGN ***/

.featured-project-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: left;
}

.featured-project {
  width: 370px;
  margin-bottom: 40px;
}

.featured-project:last-child, .featured-project:nth-last-child(2) {
  margin-bottom: 0;
}

.featured-project img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.code-tag-container {
  display: flex;
  margin-bottom: 0;
}

.code-tag {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #ffc3b7;
  font-family: 'Roboto', sans-serif; 
}

li {
  list-style: none;
}

p {
  display: inline;
  font-size: 16px;
  line-height: 30px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

.underline {
  text-decoration: underline;
}

  .skill-container {
    display: block;
  }

  .skill-container div {
    margin: 20px 0;
  }

  .skill-container li {
    font-size: 16px;
    list-style: none;
    margin: auto;
  }

.for-more-container {
  width: 60%;
  max-width: 1360px;
  padding-top: 30px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  }

.for-more-wrapper {
  padding: 10px;
  }

.for-more-wrapper img {
  width: 170px;
  }

.for-more-icon {
  margin: 3px;
  border: 2px solid white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.for-more-name {
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  }

footer {
  background-color: #698474;
  color: white;
  height: 200px;
  font-family: 'Roboto';
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  }

footer :link, footer :hover, footer :visited {
  text-decoration: none;
  color: white;
  }

.contact {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 20px;
  margin-bottom: -5px;
  }

.name {
  font-weight: bold;
  margin-bottom: -10px;
  }

.mail {
  margin-top: -10px;
  }

/* TABLET */
@media (min-width: 668px) and (max-width: 1024px) {

.profile-pic {
  width: 200px;
  height: 200px;
  margin-bottom: -15px;
  }

.icon {
  height: 60px;
  width: 60px;
  }

img {
  height: 30px;
  width: 30px;
  }

.for-more-icon {
  height: 60px;
  width: 60px;
  }

.portfolio-section {
  padding: 50px 150px; 
  }
    
.portfolio-section-green {
  padding: 50px 150px;
  }

.skill-container {
  display: flex;
}

.skills-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
} 

h4 {
  font-size: 22px;
  padding: 8px;
}

h5 { 
  font-size: 20px;
  color: #698474;
  font-weight: 700;
  }

}

/* DESKTOP */
@media (min-width: 1025px) {

header {
  padding: 100px 100px 0px 100px;
  }

.profile-pic {
  width: 280px;
  height: 280px;
  border: 3px solid white;
  margin-bottom: -25px;
  }

.icon {
  height: 50px;
  width: 50px;
  border: 3px solid white;
  }

img {
  height: 30px;
  width: 30px;
  }

.header-text {
  font-size: 70px;
  margin-top: 80px;
  }
  
.header-text-communications {
  font-size: 28px;
  margin-top: 75px;
  }

.portfolio-section {
  padding: 75px 200px; 
  }
    
.portfolio-section-green {
  padding: 75px 200px;
  }

p {
  font-size: 24px;
  }

h4 {
  font-size: 38px;
  padding: 10px;
  }

h5 { 
  font-size: 20px;
  color: #698474;
  font-weight: 700;
}

.projects-header {
  display: flex;
  justify-content: center;
  align-items: center;
  }

.project-text {
  color: black;
  display: flex;
  justify-content: center;
}  

.portfolio-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skill-container {
  display: flex;
}

.skills-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
} 

.for-more-container {
  width: 60%;
  max-width: 1360px;
  padding-top: 30px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  }

.for-more-wrapper {
  display: flex;
}

.for-more-icon {
  height: 70px;
  width: 70px;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.for-more-icon img {
  height: 40px;
  width: 40px;
  }

.for-more-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  } 

a {
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

footer {
  height: 370px;
  font-family: 'Roboto';
  font-size: 30px;
  }
    
.contact {
  font-size: 38px;
  margin-bottom: -5px;
  }
    
.name {
  font-weight: bold;
  margin-bottom: -10px;
  }

.number {
  font-size: 22px;
}
    
.mail {
  margin-top: -10px;
  font-size: 22px;
  }  
}